<h2><%= @member.name %></h2>

<p> Age: <%=@member.age%> </p>
<p> Ability: <%=@member.ability%> </p>
<p> Avalanche training completed? <%=@member.avalanche_trained%> </p>

<form action="/members/<%= @member.id %>/edit" method="GET">
  <input type="submit" value="Edit">
</form>

<form action="/members/<%= @member.id %>/delete" method="POST">
  <input type="submit" value="Delete">
</form>

<% if @member.tours.count != 0 %>
  <p><%= @member.name %> is booked onto the following tours:</p>
  <table>
    <tr>
      <th>Start Date</th>
      <th>Tour Name</th>
      <th>Difficulty</th>
    </tr>
  <%for tour in @tours%>
    <tr>
      <td><%=tour.start_date%></td>
      <td><%=tour.name.capitalize%></td>
      <td><%=tour.difficulty%></td>

    </tr>
  <%end%>
  </table>
<%end%>
