<h2><%= @member.name %></h2>

<p> Age: <%=@member.age%> </p>
<p> Ability: <%=@member.ability%> </p>
<p> avalanche_trained: <%=@member.avalanche_trained%> </p>

<a href="/members/<%= @member.id %>/edit">Edit</a>
