<h1> This is the home </h1>

<ul>
  <li><a href='/members/new'>Add Member</a></li>
  <li><a href='/tours/new'>Add Tour</a></li>
  <li><a href='/bookings/new'>New Booking</a></li>
</ul>

<h3> All upcoming tours this month </h3>

<table>
  <tr>
    <th>Tour Name</th>
    <th>Start Date</th>
    <th>Photo</th>
    <th>Actions</th>
  </tr>
  <%for tour in @upcoming_tours_next_30_days%>
    <tr>
      <td><%=tour.name%></td>
      <td><%=tour.start_date%></td>
      <td><img src="public/images/<%=tour.photo%>.jpg" alt="<%=tour.name%> photo"></td>
      <td>
        <form action="/tours/<%= tour.id %>" method="GET">
          <input type="submit" value="Show">
        </form>
      </td>
      <td>
        <p> Capacity </P>

      </td>

    </tr>
  <%end%>

</table>


<p> Show tours this month with bar to represent capacity </p>
