<h1> All Tours </h1>

<% for tour in @ordered_tours %>
  <p> Name: <%=tour.name%> </p>
  <p> Start Date: <%=tour.start_date%> </p>
  <img src="../public/images/<%=tour.photo%>.jpg" alt="<%=tour.name%> photo">

  <form action="/tours/<%= tour.id %>" method="GET">
    <input type="submit" value="Show">
  </form>

  <form action="/tours/<%= tour.id %>/edit" method="GET">
    <input type="submit" value="Edit">
  </form>

<%end%>
