<h1> All Tours </h1>

<table>
  <tr>
    <th>Tour Name</th>
    <th>Photo</th>
    <th>Start Date</th>
    <th>Max capacity</th>
    <th>Current spaces booked</th>
    <th>Actions</th>
  </tr>
  <%for tour in @ordered_tours%>
    <tr>
      <td><%=tour.name%></td>
      <td>
        <img src="public/images/hahnenkamm.jpg" alt="<%=tour.name%> photo">
      </td>
      <td><%=tour.start_date%></td>
      <td><%=tour.max_capacity%></td>
      <td><%=tour.current_bookings%></td>
      <td>
        <form action="/tours/<%= tour.id %>/delete" method="POST">
        <input type="submit" value="Delete">
        </form>
      </td>
      <td>
        <form action="/tours/<%= tour.id %>" method="GET">
          <input type="submit" value="Show">
        </form>
      </td>
      <td>
        <form action="/tours/<%= tour.id %>/edit" method="GET">
          <input type="submit" value="Edit">
        </form>
      </td>

    </tr>
  <%end%>

</table>
