<h1> All Tours </h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Tour Name</th>
    <th>Start Date</th>
    <th>Max capacity</th>
    <th>Current spaces booked</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  <%for tour in @ordered_tours%>
    <tr>
      <td>
        <img src="images/<%=tour.name%>.jpg" alt="<%=tour.name%> photo" height="75 width="100">
      </td>
      <td><%=tour.name.capitalize%></td>
      <td><%=tour.start_date%></td>
      <td><%=tour.max_capacity%></td>
      <td><%=tour.current_bookings%></td>
      <td>
        <form action="/tours/<%= tour.id %>/delete" method="POST">
        <input type="submit" value="Delete">
        </form>
      </td>
      <td>
        <form action="/tours/<%= tour.id %>" method="GET">
          <input type="submit" value="Show">
        </form>
      </td>
      <td>
        <form action="/tours/<%= tour.id %>/edit" method="GET">
          <input type="submit" value="Edit">
        </form>
      </td>

    </tr>
  <%end%>

</table>
