<h1> Book a member to <%= @tour.name %> </h1>

<p> <%= @tour.name %> requires a member ability level of <%= @tour.difficulty %> for members to partake. </p>


<!--Shows only names that have high enough ability-->
<form method="POST" action="/tours/<%= @tour.id %>/booking">
  <p>
    <label>
      The following members are qualified for the tour:
      <select name="member_id">
        <% for member in @potential_members %>
          <option value="<%= member.id %>"><%= member.name%></option>
        <%end%>
      </select>
    </label>
  </p>
  <input type="hidden" name="tour_id" value="<%= @tour.id %>">

    <input type='submit' value="Add member to tour">
</form>
