
<h2>Details</h2>

<p> Name: <%=@tour.name%> </p>
<p> Start Date: <%=@tour.start_date%> </p>
<p> Description: <%=@tour.description%> </p>
<p> Location: <%=@tour.location%> </p>
<p> Difficulty: <%=@tour.difficulty%> </p>
<p> Tour Leader: <%=@tour.tour_leader%> </p>
<p> Max capacity: <%=@tour.max_capacity%> </p>
<p> Duration: <%=@tour.duration%> </p>
<p> Current Spaces Booked: <%=@tour.current_bookings%> </p>
<p> Photo: <%=@tour.photo%> </p>

<form action="/tours/<%= @tour.id %>/edit" method="GET">
  <input type="submit" value="Edit">
</form>

<form action="/tours/<%= @tour.id %>/delete" method="POST">
  <input type="submit" value="Delete">
</form>

<p>All members booked on this tour:</p>

<%for member in @members%>
<p><%=member.name%></p>
<%end%>

<a href="/tours/<%= @tour.id %>/booking">Add member to tour</a>
